[Desktop Entry]
Categories=Utility;
Exec=conky -d -b
GenericName=Conky
Name=Conky
Name[en_US]=Conky
Comment=Conky system monitor
Comment[en_US]=Conky system monitor
Terminal=false
Type=Application
Version=1.0
