[Desktop Entry]
Name=HardInfo
GenericName=System Profiler and Benchmark
Exec=/usr/bin/hardinfo
Icon=/usr/share/hardinfo/pixmaps/logo.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
