[Desktop Entry]
Name=Leafpad
GenericName=Simple text editor
Exec=leafpad %f
Icon=leafpad
Terminal=false
Type=Application
MimeType=text/plain;
Categories=GTK;Utility;TextEditor;
