[Desktop Entry]
Name=LXDE-Logout
Comment=Logout, shutdown or reboot
Type=Application
Icon=gnome-logout
Exec=lxde-logout
TryExec=lxsession-logout
NoDisplay=true
