[Desktop Entry]
Type=Application
Name=ScreenLock
Name[ar]=أوصد‌الشّاشة
Name[cs]=Uzamknutí obrazovky
Name[de]=Bildschirmsperre
Name[es]=Bloqueo de pantalla
Name[fi]=Näytön lukitseminen
Name[gl]=Bloquear a pantalla
Name[he]=נעילת מסך
Name[is]=ScreenLock
Name[ja]=スクリーンロック
Name[lg]=Kisa lutimbe
Name[nl]=Schermvergrendeling
Name[pl]=Blokada ekranu
Name[pt]=Bloqueio de ecrã
Name[pt_BR]=Bloquear tela
Name[ru]=Блокировка экрана
Name[sv]=LåsSkärm
Name[tr]=ScreenLock
Name[uk]=Блокування екрану
Name[zh_CN]=屏幕锁
Name[zh_TW]=鎖住螢幕
Comment=Lock your screen
Comment[ar]=أوصد شاشتك
Comment[cs]=Uzamknout obrazovku
Comment[de]=Den Bildschirm sperren
Comment[es]=Bloquear pantalla
Comment[fi]=Lukitsee näytön
Comment[gl]=Bloquear a pantalla
Comment[he]=נעילת המסך שלך
Comment[is]=Læstu skjánum
Comment[ja]=スクリーンのロック
Comment[lg]=Kisa awakolerwa
Comment[nl]=Vergrendel uw scherm
Comment[pl]=Blokada ekranu
Comment[pt]=Bloquear o ecrã
Comment[pt_BR]=Bloqueie sua tela
Comment[ru]=Заблокировать экран
Comment[sv]=Lås skärm
Comment[tr]=Ekranı kilitle
Comment[uk]=Заблокувати екран
Comment[zh_CN]=锁定屏幕
Comment[zh_TW]=鎖定螢幕
Icon=system-lock-screen
Exec=lxlock
TryExec=lxlock
NoDisplay=true
