[Desktop Entry]
Type=Application
Name=Logout
Name[ar]=اخرج
Name[cs]=Odhlásit se
Name[de]=Abmelden
Name[es]=Cerrar sesión
Name[fi]=Kirjaudu ulos
Name[fr]=Déconnexion
Name[gl]=Saír da sesión
Name[he]=יציאה
Name[is]=Útskráning
Name[ja]=ログアウト
Name[lg]=Komya olutuula
Name[nl]=Afmelden
Name[pl]=Wylogowanie
Name[pt]=Terminar sessão
Name[pt_BR]=Desligar
Name[ru]=Выход
Name[sl]=Odjava
Name[sv]=Logga ut
Name[tr]=Oturumu kapat
Name[uk]=Вихід
Name[zh_CN]=注销
Name[zh_TW]=登出
Comment=Logout, shutdown or reboot
Comment[ar]=اخرج، أطفئ أو أعد الإقلاع
Comment[cs]=Odhlásit se, vypnout a znovu zapnout
Comment[de]=Abmelden, herunterfahren oder neu starten
Comment[es]=Cerrar sesión, apagar o reiniciar
Comment[fi]=Kirjaudu ulos, sammuta tai käynnistä tietokone uudelleen
Comment[fr]=Se déconnecter, éteindre ou redémarrer
Comment[gl]=Saír da sesión, apagar ou reiniciar
Comment[he]=יציאה, כיבוי או הפעלה מחדש
Comment[is]=Skrá út, slökkva eða endurræsa
Comment[ja]=ログアウト, シャットダウンまたは再起動
Comment[lg]=Komya lutuula, gyako kompyuta oba ddamu kugikoleza
Comment[nl]=Afmelden, afsluiten of herstarten
Comment[pl]=Wylogowanie, wyłączenie komputera lub ponowne uruchomienie
Comment[pt]=Terminar sessão, desligar ou reiniciar
Comment[pt_BR]=Desligar, reiniciar, sair da sessão etc.
Comment[ru]=Выйти, выключить или перезапустить
Comment[sv]=Logga ut, stäng av eller starta om
Comment[tr]=Oturumu kapat, bilgisayarı kapat veya yeniden başlat
Comment[uk]=Вийти, вимкнути або перезавантажити
Comment[zh_CN]=注销、关机或重启
Comment[zh_TW]=登出、關機、或重新開機
Icon=gnome-logout
Exec=lxde-logout
TryExec=lxsession-logout
NoDisplay=true
