[Desktop Entry]
Type=Application
Name=LXInput
GenericName=Keyboard and Mouse
Comment=Configure keyboard, mouse, and other input devices
Icon=input-keyboard
Exec=lxinput
StartupNotify=true
Terminal=false
Categories=GTK;Settings;HardwareSettings;X-LXDE-Settings;
NotShowIn=GNOME;KDE;XFCE;MATE;
