[Desktop Entry]
Type=Application
Icon=xfwm4
Exec=lxsession-default-apps
Name=LXSession-default-apps
Comment=Change the default applications on LXDE
Categories=GTK;Settings;DesktopSettings;X-LXDE-Settings;
NotShowIn=GNOME;KDE;XFCE;
