[Desktop Entry]
Type=Application
Icon=session-properties
Exec=lxsession-edit
Name=Desktop Session Settings
Name[ar]=إعدادات جلسة سطح المكتب
Name[be]=Настаўленні сеанса
Name[bg]=Настройка на сесията на работната среда
Name[cs]=Nastavení sezení
Name[el]=Ιδιότητες Περιόδου Επιφάνειας Εργασίας
Name[en_GB]=Desktop Session Settings
Name[es]=Configuración de la sesión de escritorio
Name[et]=Töölauaseansi seaded
Name[eu]=Mahaigaineko saioaren ezarpenak
Name[fi]=Työpöytäistunnon asetukset
Name[fr]=Paramètres de la session de bureau
Name[gl]=Axustes da sesión de escritorio
Name[he]=הגדרות הפעלת שולחן העבודה
Name[hr]=Postavke sesije radne površine
Name[id]=Pengaturan Sesi Desktop
Name[it]=Impostazioni sessione desktop
Name[ja]=デスクトップセッションの設定
Name[kk]=Жұмыс үстелі сессиясының баптаулары
Name[ko]=데스크톱 세션 설정
Name[lg]=Nteekateeka z'awakolerwa
Name[lt]=Darbalaukio seanso nustatymai
Name[nl]=Instellingen voor bureaubladsessie
Name[pl]=Ustawienia sesji
Name[pt]=Definições da sessão
Name[pt_BR]=Configurações da Sessão de Desktop
Name[ro]=Opțiuni pentru sesiunile de desktop
Name[ru]=Настройка параметров сессии рабочего стола
Name[sl]=Nastavitve namizne seje
Name[sr]=Поставке сесије радне површи
Name[sr@latin]=Postavke sesije radne površi
Name[sv]=Inställningar för skrivbordssession
Name[tr]=Masaüstü Oturum Ayarları
Name[ug]=ئۈستەلئۈستى ئەڭگىمە تەڭشىكى
Name[uk]=Налаштування сесії робочого столу
Name[vi]=Thiết lập phiên làm việc desktop
Name[zh_CN]=桌面会话设置
Name[zh_TW]=桌面工作階段設定
Comment=Manage applications loaded in desktop session
Comment[ar]=أدِر التطبيقات المحمّلة في جلسة سطح المكتب
Comment[be]=Кіраванне праграмамі, загружанымі ў сеансе
Comment[bg]=Управление на приложенията зарадени в сесия на работната среда
Comment[cs]=Správa aplikací spuštěných při sezení
Comment[de]=Automatisch gestartete Anwendungen verwalten
Comment[el]=Διαχείριση εφαρμογών που τρέχουν σε περίοδο επιφάνειας εργασίας
Comment[en_GB]=Manage applications loaded in desktop session
Comment[es]=Gestione las aplicaciones cargadas en la sesión de escritorio
Comment[et]=Töölauaseansi programmide haldamine
Comment[eu]=Kudeatu mahaigaineko saioan kargaturiko aplikazioak
Comment[fi]=Hallitse automaattisesti käynnistettäviä sovelluksia
Comment[fr]=Gérer les applications chargées dans la session de bureau
Comment[gl]=Administrar as aplicacións que cargar na sesión de escritorio
Comment[he]=ניהול יישומים המופעלים עם הפעלת שולחן העבודה
Comment[hr]=Upravljaj programima koji su učitani u sesiji radne površine
Comment[id]=Atur aplikasi yang dimuat di sesi dektop
Comment[it]=Gestisce le applicazioni avviate nella sessione desktop
Comment[ja]=デスクトップセッションにロードされたアプリケーションを管理する
Comment[kk]=Жұмыс үстелі сессиясында жүктелетін қолданбаларды басқару
Comment[ko]=데스크톱 세션에 불러올 프로그램을 관리합니다
Comment[lg]=Teekateeka puloguramu eziba zitandika buli lutuula
Comment[lt]=Tvarkykite darbastalio sesijos programas
Comment[nl]=Toepassingen beheren die geladen zijn in de bureaubladsessie
Comment[pl]=Zarządzaj programami uruchamianymi wraz z sesją
Comment[pt]=Gerir aplicações carregadas ao iniciar a sessão
Comment[pt_BR]=Gerenciar aplicações carregadas na sessão desktop
Comment[ro]=Alegeți ce programe să pornească în sesiunea de desktop
Comment[ru]=Управление приложениями, загружаемыми в сессии рабочего стола
Comment[sl]=Upravljajte s programi, naloženimi v namizni seji
Comment[sr]=Управљање покренутим програмима у сесији
Comment[sr@latin]=Upravljanje pokrenutim programima u sesiji
Comment[sv]=Hantera program som läses in i skrivbordssessionen
Comment[tr]=Masaüstü oturumuna yüklenen uygulamaları yönet
Comment[ug]=ئۈستەلئۈستى ئەڭگىمەسىگە ئوقۇلغان پروگراممىلارنى باشقۇرىدۇ
Comment[uk]=Керування програмами, що завантажені під час сесії
Comment[vi]=Quản lý ứng dụng được nạp trong phiên làm việc desktop
Comment[zh_CN]=管理桌面会话中加载的应用程序
Comment[zh_TW]=管理在桌面工作階段載入的應用程式
Categories=GTK;Settings;DesktopSettings;X-LXDE-Settings;
NotShowIn=GNOME;KDE;XFCE;
