[Desktop Entry]
Type=Application
Icon=xfwm4
Exec=lxsession-default-apps
Name=Default applications for LXSession
Name[ar]=تطبيقاات LXSession الافتراضية
Name[bg]=Стандартни приложения за LXSession
Name[el]=Προκαθορισμένες εφαρμογές για LXSession
Name[es]=Aplicaciones predeterminadas para LXSession
Name[et]=LXSessioni vaikimisi rakendused
Name[fi]=LXSessionin oletussovellukset
Name[fr]=Applications par défaut pour LXSession
Name[gl]=Aplicacións predeterminadas para LXSession
Name[he]=יישומי בררת המחדל עבור LXSession
Name[hr]=Zadani programi za LXSesiju
Name[id]=Aplikasi baku bagi LXSession
Name[it]=Applicazioni predefinite per LXSession
Name[ja]=LXSession のデフォルトのアプリケーション
Name[kk]=LXSession үшін үнсіз келісім қолданбалары
Name[lg]=Puloguramu ez'omu lutuula lwa LXDE ez'enkalakkalira
Name[lt]=Numatytosios LXSession programos
Name[nl]=Standaardtoepassingen voor LXSession
Name[pl]=Domyślne programy dla LXSession
Name[pt]=Aplicações pré-definidas de LxSession
Name[ru]=Приложения по умолчанию для LXSession
Name[sr]=Подразумевани програми ЛИкс-Сесије
Name[sr@latin]=Podrazumevani programi LIks-Sesije
Name[sv]=Standardprogram för LXSession
Name[tr]=LXSession için öntanımlı uygulamalar
Name[uk]=Типові програми для LXSession
Name[zh_CN]=LXSession 默认应用程序
Name[zh_TW]=LXSession 的預設應用程式
Comment=Change the default applications on LXDE
Comment[ar]=غيّر تطبيقات لكسدي الافتراضية
Comment[bg]=Промени стандартните приложения за LXDE
Comment[el]=Αλλαγή των προκαθορισμένων εφαρμογών στο LXDE
Comment[es]=Cambie las aplicaciones predeterminadas en LXDE
Comment[et]=LXDE vaikimisi rakenduste muutmine
Comment[fi]=Muuta LXDE:n oletussovelluksia
Comment[fr]=Modifier les applications par défaut dans LXDE
Comment[gl]=Cambiar as aplicacións predeterminadas no LXDE
Comment[he]=החלפת יישומי בררת המחדל ב־LXDE
Comment[hr]=Promjenite zadane programe u LXDE
Comment[id]=Ubah aplikasi baku pada LXDE
Comment[it]=Cambia le applicazioni predefinite in LXDE
Comment[ja]=LXDE のデフォルトのアプリケーションを変更する
Comment[kk]=LXDE үшін үнсіз келісім қолданбаларын таңдау
Comment[lg]=Kyusa puloguramu ez'omu lutuula lwa LXDE ez'enkalakkalira
Comment[lt]=Pakeisti numatytąsias LXDE programas
Comment[nl]=Wijzig de standaardtoepassingen voor LXDE
Comment[pl]=Zmiana domyślnych programów w LXDE
Comment[pt]=Escolha as aplicações pré-definidas do LXDE
Comment[ru]=Выбор приложений LXDE по умолчанию
Comment[sr]=Поставите подразумеване програме за ЛИкс-ДЕ
Comment[sr@latin]=Postavite podrazumevane programe za LIks-DE
Comment[sv]=Ändra standardprogram för LXDE
Comment[tr]=LXDE için varsayılan uygulamaları degiştirin
Comment[uk]=Виберіть типові програми для LXDE
Comment[zh_CN]=更改 LXDE 上的默认应用程序
Comment[zh_TW]=變更 LXDE 的預設應用程式
Categories=GTK;Settings;DesktopSettings;X-LXDE-Settings;
NotShowIn=GNOME;KDE;XFCE;
