[Desktop Entry]
Type=Application
Icon=session-properties
Exec=lxsession-edit
Name=LXSession-edit
Comment=Manage applications loaded in desktop session
Categories=GTK;Settings;DesktopSettings;X-LXDE-Settings;
NotShowIn=GNOME;KDE;XFCE;
