[Desktop Entry]
Name=LXShortcut
GenericName=Shortcut Editor
Comment=Create new or change existing desktop entry
Type=Application
Icon=applications-other
Categories=Utility;GTK;
Exec=lxshortcut -i %f
StartupNotify=true
Terminal=false
MimeType=application/x-desktop;
NoDisplay=true
