[Desktop Entry]
Categories=AudioVideo;
Exec=sakura -e mpsyt
GenericName=MPS-youtube
Name=MPS-youtube
Name[en_US]=MPS-youtube
Comment=Youtube player and downloader
Comment[en_US]=Youtube player and downloader
Terminal=false
Type=Application
Version=1.0
