[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Porthole
GenericName= Portage Frontend
Comment=Use a GTK-based frontend to Portage
Icon=porthole-icon.png
Exec=porthole
StartupNotify=true
Type=Application
Categories=System;PackageManager;
