[Desktop Entry]
Version=1.0
Name=Sakura (sandbox)
Type=Application
Comment=launch a sandboxed shell
Exec=sandbox
TryExec=sandbox
Icon=sandbox
Terminal=true
Categories=Development;
