[Desktop Entry]
Version=1.1
Type=Application
Name=Xarchiver
GenericName=Archive manager
GenericName[ar]=مدير الأرشيف
GenericName[ast]=Xestor de ficheros comprimíos
GenericName[bg]=Архивен управител
GenericName[ca]=Gestor d'arxius
GenericName[cs]=Správce archivů
GenericName[da]=Arkivhåndtering
GenericName[de]=Archivmanager
GenericName[dz]=ཡིག་མཛོད་འཛིན་སྐྱོང་པ།
GenericName[el]=Διαχειριστής συμπιεσμένων αρχείων
GenericName[en_GB]=Archive manager
GenericName[es]=Gestor de archivos comprimidos
GenericName[eu]=Pakete kudeatzailea
GenericName[fi]=Pakkausohjelma
GenericName[fr]=Gestionnaire d'archives
GenericName[gl]=Xestor de arquivos
GenericName[he]=מנהל ארכיונים
GenericName[hr]=Upravitelj arhivama
GenericName[hu]=Archívumkezelő
GenericName[id]=Manajer arsip
GenericName[it]=Gestore di archivi
GenericName[ja]=アーカイブマネージャ
GenericName[kk]=Архивтерді басқарушысы
GenericName[lt]=Archyvų tvarkytuvė
GenericName[lv]=Arhīvu pārvaldnieks
GenericName[nb]=Arkivbehandler
GenericName[nl]=Archiefbeheerder
GenericName[pl]=Menedżer archiwów
GenericName[pt_BR]=Gerenciador de pacotes
GenericName[pt_PT]=Gestor de arquivos
GenericName[ro]=Manager de arhive
GenericName[ru]=Менеджер архивов
GenericName[si]=සංරක්ෂණ කළමනාකරු
GenericName[sk]=Správca archívov
GenericName[sq]=Përgjegjës arkivash
GenericName[sv]=Arkivhanterare
GenericName[te]=సంగ్రహ నిర్వాహకం
GenericName[tr]=Arşiv yöneticisi
GenericName[ug]=ئارخىپ باشقۇرغۇ
GenericName[uk]=Менеджер архівів
GenericName[ur]=محفوظہ منیجر
GenericName[zh_CN]=归档文件管理器
GenericName[zh_TW]=封存管理程式
Comment=A GTK+ only archive manager
Comment[ar]=جتك+ مدير الأرشيف فقط
Comment[ast]=Un xestor de ficheros comprimíos basáu namái en GTK+
Comment[bg]=GTK+ архивен управител
Comment[ca]=Un gestor d'arxius només GTK+
Comment[cs]=Správce archivů pouze pro GTK+
Comment[da]=En arkivhåndtering baseret udelukkende på GTK+
Comment[de]=Ein nur auf GTK+ basierender Archivmanager
Comment[dz]=ཇི་ཊི་ཀེ་+༢་ ཀྱིས་རྐྱངམ་ཅིག་ཡིག་མཛོད་འཛིན་སྐྱོང་པ།
Comment[el]=Ένας διαχειριστής συμπιεσμένων αρχείων σε GTK+
Comment[en_GB]=A GTK+ only archive manager
Comment[es]=Un gestor de archivos comprimidos basado solo en GTK+
Comment[eu]=GTK+-rako bakarrik artxibo kudeatzailea
Comment[fi]=GTK+ -pakkaussovellus
Comment[fr]=Un gestionnaire d'archive pour GTK+ seulement
Comment[gl]=Un xestor de arquivos só en GTK+
Comment[he]=מנהל ארכיונים ב־GTK+ בלבד
Comment[hr]=Upravitelj arhivama samo za GTK+
Comment[hu]=GTK+ archívumkezelő
Comment[id]=Manajer arsip khusus GTK+
Comment[it]=Un gestore di archivi basato solo GTK+
Comment[ja]=Xfce 4 アーカイブマネージャ
Comment[kk]=Тек GTK+ талап ететін архивтер басқарушысы
Comment[lt]=Tik GTK+ archyvų tvarkytuvė
Comment[lv]=GTK+ vienīgais arhīvu pārvaldnieks
Comment[nb]=En GTK+ basert arkivbehandler
Comment[nl]=Een GTK+ archiefbeheerder
Comment[pl]=Program zarządzający archiwami oparty wyłącznie o GTK+
Comment[pt_BR]=Um gerenciador de pacotes baseado no GTK+
Comment[pt_PT]=Um gestor de arquivos baseado em GTK+
Comment[ro]=Manager GTK+ de arhive
Comment[ru]=Менеджер архивов только для GTK+
Comment[si]=GTK+ පමණක් සංරක්ෂණ කළමනාකරුවෙක්
Comment[sk]=Správca archívov len pre GTK+
Comment[sq]=Përgjegjës arkivash vetëm për GTK+
Comment[sv]=En arkivhanterare som använder GTK+
Comment[tr]=GTK+ ile tasarlanmış arşiv yöneticisi
Comment[ug]=GTK+ دىلا ئىشلەتكىلى بولىدىغان ئارخىپ باشقۇرغۇ
Comment[uk]=Менеджер архівів, що використовує лише GTK+
Comment[ur]=صرف GTK+ محفوظہ منیجر
Comment[zh_CN]=只使用 GTK+ 的归档文件管理器
Comment[zh_TW]=GTK+ 介面的封存檔管理程式
Icon=xarchiver
Exec=xarchiver %f
StartupNotify=true
Terminal=false
Categories=GTK;Archiving;Compression;Utility;
Keywords=GTK;android;archiver;archiving;compression;front end;frontend;7-zip;7z;7za;7zip;7zr;apk;ar;arj;bunzip2;bz2;bzip2;compress;cpio;deb;epub;gtar;gunzip;gz;gzip;jar;lha;lrz;lrzip;lsar;lz;lz4;lzh;lzip;lzma;lzo;lzop;oxt;rar;rar4;rar5;rpm;tar;unar;unarchiver;unarj;unrar;unzip;xpi;xz;zip;zst;Zstandard;zstd;
Keywords[de]=GTK;Android;Archivierer;Archivierung;Kompression;Komprimierung;Front-End;Frontend;7-zip;7z;7za;7zip;7zr;apk;ar;arj;bunzip2;bz2;bzip2;compress;cpio;deb;epub;gtar;gunzip;gz;gzip;jar;lha;lrz;lrzip;lsar;lz;lz4;lzh;lzip;lzma;lzo;lzop;oxt;rar;rar4;rar5;rpm;tar;unar;unarchiver;unarj;unrar;unzip;xpi;xz;zip;zst;Zstandard;zstd;
Keywords[en_GB]=GTK;Android;archiver;archiving;compression;front end;frontend;7-zip;7z;7za;7zip;7zr;apk;ar;arj;bunzip2;bz2;bzip2;compress;cpio;deb;epub;gtar;gunzip;gz;gzip;jar;lha;lrz;lrzip;lsar;lz;lz4;lzh;lzip;lzma;lzo;lzop;oxt;rar;rar4;rar5;rpm;tar;unar;unarchiver;unarj;unrar;unzip;xpi;xz;zip;zst;Zstandard;zstd;
Keywords[es]=GTK;Android;archivado;archivador;compresión;compresor;interfaz;7-zip;7z;7za;7zip;7zr;apk;ar;arj;bunzip2;bz2;bzip2;compress;cpio;deb;epub;gtar;gunzip;gz;gzip;jar;lha;lrz;lrzip;lsar;lz;lz4;lzh;lzip;lzma;lzo;lzop;oxt;rar;rar4;rar5;rpm;tar;unar;unarchiver;unarj;unrar;unzip;xpi;xz;zip;zst;Zstandard;zstd;
Keywords[lt]=GTK;Android;archyvavimo programa;archyvavimas;glaudinimas;išorinė pusė;naudotojo sąsaja;7-zip;7z;7za;7zip;7zr;apk;ar;arj;bunzip2;bz2;bzip2;compress;cpio;deb;epub;gtar;gunzip;gz;gzip;jar;lha;lrz;lrzip;lsar;lz;lz4;lzh;lzip;lzma;lzo;lzop;oxt;rar;rar4;rar5;rpm;tar;unar;unarchiver;unarj;unrar;unzip;xpi;xz;zip;zst;Zstandard;zstd;
MimeType=application/epub+zip;application/gzip;application/vnd.android.package-archive;application/vnd.debian.binary-package;application/vnd.openofficeorg.extension;application/vnd.rar;application/x-7z-compressed;application/x-arj;application/x-bzip;application/x-bzip-compressed-tar;application/x-compress;application/x-compressed-tar;application/x-cpio;application/x-cpio-compressed;application/x-java-archive;application/x-lha;application/x-lrzip;application/x-lrzip-compressed-tar;application/x-lz4;application/x-lz4-compressed-tar;application/x-lzip;application/x-lzip-compressed-tar;application/x-lzma;application/x-lzma-compressed-tar;application/x-lzop;application/x-rar;application/x-rpm;application/x-source-rpm;application/x-tar;application/x-tarz;application/x-tzo;application/x-xpinstall;application/x-xz;application/x-xz-compressed-tar;application/zip;
