<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

	<menu id="root-menu" label="Openbox 3">
		<item label="HardInfo">
			<action name="Execute">
				<command>
					hardinfo
				</command>
			</action>
		</item>
		<item label="LXRandR">
			<action name="Execute">
				<command>
					lxrandr
				</command>
			</action>
		</item>
		<item label="Dhcpcd-gtk">
			<action name="Execute">
				<command>
					dhcpcd-gtk
				</command>
			</action>
		</item>
		<item label="Wicd">
			<action name="Execute">
				<command>
					wicd
				</command>
			</action>
		</item>
		<item label="Porthole">
			<action name="Execute">
				<command>
					porthole
				</command>
			</action>
		</item>
		<item label="Gmrun">
			<action name="Execute">
				<command>
					gmrun
				</command>
			</action>
		</item>
		<item label="LXDE-Logout">
			<action name="Execute">
				<command>
					lxde-logout
				</command>
			</action>
		</item>
		</menu>
</openbox_menu>
