<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

	<menu id="root-menu" label="Openbox 3">
		<item label="HardInfo">
			<action name="Execute">
				<command>
					hardinfo
				</command>
			</action>
		</item>
		<item label="LXRandR">
			<action name="Execute">
				<command>
					lxrandr
				</command>
			</action>
		</item>
		<item label="Dhcpcd-gtk">
			<action name="Execute">
				<command>
					dhcpcd-gtk
				</command>
			</action>
		</item>
		<item label="Wicd">
			<action name="Execute">
				<command>
					wicd
				</command>
			</action>
		</item>
		<item label="Porthole">
			<action name="Execute">
				<command>
					porthole
				</command>
			</action>
		</item>
		<item label="GParted">
			<action name="Execute">
				<command>
					gparted
				</command>
			</action>
		</item>
		<item label="Xarchiver">
			<action name="Execute">
				<command>
					xarchiver
				</command>
			</action>
		</item>
		<item label="Galculator">
			<action name="Execute">
				<command>
					galculator
				</command>
			</action>
		</item>
		<item label="Alsaplayer">
			<action name="Execute">
				<command>
					alsaplayer
				</command>
			</action>
		</item>
		<item label="MPS-Youtube">
			<action name="Execute">
				<command>
					sakura -e mpsyt
				</command>
			</action>
		</item>
		<item label="Gajim">
			<action name="Execute">
				<command>
					gajim
				</command>
			</action>
		</item>
		<item label="Linphone">
			<action name="Execute">
				<command>
					linphone
				</command>
			</action>
		</item>
		<item label="GPicView">
			<action name="Execute">
				<command>
					gpicview
				</command>
			</action>
		</item>
		<item label="Xfburn">
			<action name="Execute">
				<command>
					xfburn
				</command>
			</action>
		</item>
		</menu>
</openbox_menu>
